.slider-block {
	width: 100%;
	background: $black;
	color: $white;
	text-align: center;

	.container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;


		.slideshow {
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			position: relative;

			@include media('>=tablet') {
				width: calc(100% - 265px);
			}

			.slideset {
				position: relative;
				padding-top: 56.25%;

				@include media('>=desktop') {
					margin-left: -15px;
					padding-left: 15px;
				}
			}

			.slide {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-size: cover;
				background-repeat: no-repeat;

				&:after {
					content: "";
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 1;
					background: linear-gradient(to top, #000, transparent 50%);
				}
			}

			.content {
				@include vertical-align-el;

				display: block;
				position: relative;
				z-index: 5;
				line-height: 1.25;
				text-align: left;
				padding-left: 15px;
				font-size: 10px;

				@include media('>=tablet') {
					font-size: 24px;
				}

				h2 {
					font-size: 22px;
					line-height: 1;
					margin-bottom: 10px;

					@include media('>=tablet') {
						font-size: 42px;
						margin-bottom: 20px;
					}
				}

				p {
					margin-bottom: 10px;

					@include media('>=tablet') {
						margin-bottom: 30px;
					}
				}

				.more {
					padding: 10px 15px;
					font-size: 10px;

					@include media('>=tablet') {
						font-size: 18px;
					}

					&:hover {
						@extend %transition;

						color: $black;
						background: $yellow;
					}
				}
			}
		}

		.info {
			display: inline-block;
			vertical-align: middle;
			margin: 0 auto;
			padding: 20px 0;

			@include media('>=tablet') {
				margin-left: 65px;
				text-align: left;
				padding: 0 34px 5px 0;
			}

			.list-items {
				@extend %listreset;

				text-align: left;

				li {
					
					a {
						color: $white;
						text-decoration: none;
						position: relative;
						font-size: 21px;
						line-height: 30px;

						&:before {
							position: absolute;
							top: 1px;
							right: -34px;
							color: $yellow;
						}

						&:hover {
							@extend %transition;

							color: lighten( $base-text-color, 40% )
						}
					}
				}
			}
		}
	}
}

.pagination {
	position: absolute;
	right: 5%;
	bottom: 10%;
	z-index: 2;

	ul {
		@extend %listreset;
		
		li {
			display: inline-block;
			vertical-align: bottom;
			padding: 0 5px;

			a {
				display: block;
				background: $white;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				text-indent: -9999px;

				&:hover,
				&:active {
					background: $yellow;
				}
			}

			&.active {

				a {
					background: $yellow;
				}
			}
		}
	}
}