.container {
	max-width: 1234px;
	margin: 0 auto;
	padding: 0 15px;
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.title-yellow {
	display: inline-block;
	color: $black;
	padding: 7px 5px;
	background: $yellow;
	text-transform: uppercase;
	text-decoration: none;
}

.bg-black {
	// background-color: linear-gradient(to top, #fff, #000);
}

.btn {
	transition: background .3s ease-in-out, color .3s ease-in-out;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 15px 20px;
	background: transparent;
	color: $yellow;
	font-size: 18px;
	line-height: 1.22;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	border: 3px solid $yellow;
	margin-bottom: 15px;
	min-width: 150px;
}

.btn:hover {
	background: $yellow;
	color: $white;
}

.green {
	color: $white;
	background: $green;
	padding: 16px 18px;
	text-align: left;
	text-transform: uppercase;
	font-weight: 600;
	border: none;

	&:hover {
		opacity: 0.9;
		transition: opacity .3s linear;
		background: $green;
		
	}
}

.block-green {
	text-align: center;
	background: $green;
	color: $white;
	padding: 32px 0;

	@include media('>=tablet') {
		text-align: left;
	}

	.title {
		display: inline-block;
		vertical-align: middle;
		width: 300px;
		font-size: 24px;
		line-height: 1.28125;
		margin-bottom: 20px;
		margin-right: -3px;


		@include media('>=tablet') {
			font-size: 32px;
		}
	}

	.signup-form {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 20px;

		@include media('>=tablet') {
			padding-right: 57px;
		}

		.input-holder {
			display: block;
			position: relative;
			height: 40px;

			input[type='email'] {
				width: 100%;
				height: 100%;
				border: none;
				outline: none;
				text-align: left;
				color: $black;
				padding-right: 150px;

				@include media('>=desktop') {
					min-width: 534px;
				}
			}

			.btn {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				background: #000;
				color: $yellow;
				border: none;
				font-size: 11px;
				line-height: 40px;
				padding: 0 22px;
				outline: none;

				&:hover {
					opacity: 0.9;
					transition: opacity .3s linear;
				}
			}
		}
	}

	.social-holder {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 20px;

		.social {
			@extend %listreset;			
				
			display: block;

			li {
				display: inline-block;
				vertical-align: top;
				margin-right: 15px;

				a {
					display: block;
					color: $yellow;
					font-size: 24px;					
					height: 40px;
					width: 40px;
					background: #000;
					text-align: center;					
					text-decoration: none;

					i {
						line-height: 40px;
					}
				}
			}
		}
	}

	.text {
		display: block;
		text-transform: uppercase;
		font-size: 12px;
		margin-bottom: 15px;
	}
}

.left {

	@include media('>=tablet') {
		display: inline-block;
		vertical-align: top;
		width: calc(25% - 50px);
		margin-right: 50px;	
	}

	h4 {
		display: inline;
		font-weight: 600;
		color: $base-text-color;
		// white-space: nowrap;
		background: $yellow;
		text-transform: uppercase;
		line-height: 29px;
		// margin-bottom: 20px;
		padding: 0 15px 0 5px;
	}

	p {
		margin: 20px 0;
	}

	a {
		display: block;
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;
		color: $base-text-color;
		margin-bottom: 30px;

		i {
			margin-left: 7px;
			line-height: 1.2;
		}
	}

	.green {
		display: inline-block;
		color: $white;
	}

	.more {
		&:hover {
			opacity: 0.7;
		}
	}
}

.right {

	@include media('>=tablet') {
		display: inline-block;
		vertical-align: top;
		width: 75%;
		margin-left: -4px;
	}

	.post {
		
		.text {
			padding: 15px;

			.title {
				font-weight: 600;
				font-size: 24px;
				margin-bottom: 10px;
			}

			.green {
				display: block;
				text-align: center;
			}
		}
	}
}

.mission {
	padding: 30px 0;

	.right {
		font-size: 24px;
	}
}

.updates {
	background: $bg-section;
	padding: 30px 0;

	.right {

		@include media('>=phone') {
			margin: 0 -10px;
		}

		@include media('>=tablet') {
			margin: 0 -20px;
			min-width: calc(75% + 20px);
		}

		.post {
			background: $white;
			position: relative;
			overflow: hidden;
			margin: 0 auto 30px;
			margin-left: -4px;
			overflow: hidden;
			

			@include media('>=phone') {
				display: inline-block;
				width: 50%;
				padding: 0 10px;

			}

			@include media('>=tablet') {
				padding: 0 20px;
			}

			@include media('>=desktop') {
				width: 33.3%;				
			}

			.img-holder {
				max-width: 275px;
				margin: 0 auto;
			}

			.text {
				border-bottom: 5px solid $black;
				height: 100%;
				padding: 15px 15px 50px 15px;
			}

			.btn {
				display: block;
				text-align: center;
				transform: translateY(0);
				position: absolute;
				left: 0;
				right: 0;

				@include media('>=phone') {
					margin: 0 10px;
				}


				&:hover {
					background: $bg-green;
				}
			}

			&:hover .btn {
				transition: transform .5s ease-in-out;
				transform: translateY(-100%);
				z-index: 1;
				opacity: 1;
			}
		}
	}
}

.news {
	padding: 30px 0;

	.left {
		

		@include media('>=tablet') {
			width: 100%;
		}

		@include media('>=desktop') {
			width: calc(25% - 50px);
		}
	}

	.right {

		@include media('>=tablet') {
			width: 100%;
		}

		@include media('>=desktop') {
			width: 75%;
		}

		.post {
			margin: 0 auto 30px;

			@include media('>=tablet') {
				max-width: 100%;
			}

			.img-holder {
				display: inline-block;
				vertical-align: top;

				@include media('>=tablet') {
					width: 30%;
					margin-right: 36px;
				}
				
			}

			.content {
				display: inline-block;
				vertical-align: top;
				font-size: 18px;

				@include media('>=tablet') {
					width: calc(70% - 40px);
				}

				h4 {
					font-size: 24px;
					margin: 0;

				}

				.date {
					display: inline-block;
					color: $light-gray;
					font-size: $font-size-base;
					font-weight: 600;
					padding-bottom: 20px;
				}

				.more {
					text-transform: uppercase;
					text-decoration: none;
					font-size: 16px;
					color: $green;
					font-weight: 600;
					letter-spacing: 0.12em;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}



