.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.title-yellow {
	display: inline-block;
	color: $black;
	padding: 7px 5px;
	background: $yellow;
	text-transform: uppercase;
	text-decoration: none;
}

.bg-black {
	// background-color: linear-gradient(to top, #fff, #000);
}

.btn {
	-webkit-transition: background .3s ease-in-out, color .3s ease-in-out;
	transition: background .3s ease-in-out, color .3s ease-in-out;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 15px 20px;
	background: transparent;
	color: $yellow;
	font-size: 18px;
	line-height: 1.22;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	border: 3px solid $yellow;
	margin-bottom: 15px;
	min-width: 150px;
}

.btn:hover {
	background: $yellow;
	color: $white;
}

.block-green {
	text-align: center;
	background: $green;
	color: $white;
	padding: 32px 0;

	@include media('>=tablet') {
		text-align: left;
	}

	.title {
		display: inline-block;
		vertical-align: middle;
		width: 300px;
		font-size: 24px;
		line-height: 1.28125;
		margin-bottom: 20px;
		margin-right: -3px;


		@include media('>=tablet') {
			font-size: 32px;
		}
	}

	.signup-form {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 20px;

		@include media('>=tablet') {
			padding-right: 57px;
		}

		.input-holder {
			display: block;
			position: relative;
			height: 40px;

			input[type='email'] {
				height: 100%;
				border: none;
				outline: none;
				text-align: left;
				color: $black;
				padding-right: 150px;

				@include media('>=desktop') {
					min-width: 534px;
				}
			}

			.btn {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				background: #000;
				color: $yellow;
				border: none;
				font-size: 11px;
				line-height: 40px;
				padding: 0 22px;
				outline: none;

				&:hover {
					opacity: 0.9;
					transition: opacity .3s linear;
				}
			}
		}
	}

	.social-holder {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 20px;

		.social {
			@extend %listreset;			
				
			display: block;

			li {
				display: inline-block;
				vertical-align: top;
				margin-right: 15px;

				a {
					display: block;
					color: $yellow;
					font-size: 24px;					
					height: 40px;
					width: 40px;
					background: #000;
					text-align: center;					
					text-decoration: none;

					i {
						line-height: 40px;
					}
				}
			}
		}
	}

	.text {
		display: block;
		text-transform: uppercase;
		font-size: 12px;
		margin-bottom: 15px;
	}

}

