#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 0 0 0;
	position: relative;
	z-index: 100;
	background: #fff;

	@include media('>=desktop') {
		align-items: flex-end;
	}

	.logo {

		display: inline-block;
		vertical-align: top;
		position: relative;
		z-index: 99;
		transform: scale(.8);
		
		@include media('>=tablet') {
			display: inline-block;
			vertical-align: top;
			position: relative;
			z-index: 99;
			transform: scale(1);	
		}
	}

	#nav {
		@include animate(max-height);

		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		z-index: 88;
		text-align: center;
		overflow: hidden;
		max-height: 0;

		@include media('>=desktop') {
			display: inline-block;
			vertical-align: middle;
			max-height: none;
			position: static;
			overflow: visible;
		}

		.nav {
			@extend %listreset;
			
			text-align: center;
			
			.social {
				@extend %listreset;

				margin-bottom: 20px;

				@include media('>=desktop') {
					display: inline-block;
					margin-bottom: 0;
				}
				
				li {
					display: inline-block;
					vertical-align: middle;
					margin-left: -4px;
					padding: 0 10px;

					@include media('>=desktop') {
						padding: 0 7px;
					}

					a {
						font-size: 20px;
						color: $black;
						line-height: 45px;
						text-decoration: none;

						&:hover {
							@extend %transition;

							color: $yellow;
						}
					}
				}
			}

			.search {
				display: inline-block;
				vertical-align: top;
				margin-right: 5px;

				@include media('>=desktop') {
					vertical-align: middle;
					margin-right: 20px;
				}
				
				a {
					display: inline-block;
					vertical-align: middle;
					background: $black;
					width: 47px;
					height: 47px;
					padding: 0;
					text-align: center;

					@include media('>=desktop') {
						width: 45px;
						height: 45px;
					}

					&:hover {
						@include animate (background color);

						background: $yellow;

						i {
							color: $black;
						}
					}

					i {
						line-height: 47px;
						font-size: 18px;
						color: $yellow;

						@include media('>=desktop') {
							line-height: 45px;
						}
					}
				}
			}

			.donate {
				display: inline-block;
				position: relative;
				
				@include media('>=desktop') {
					margin-left: 20px;
					padding: 21px 0 22px;
				}			

				&:after {
					@include media('>=desktop') {
						content: "";
						position: absolute;
						bottom: 0;
						left: -25px;
						width: 5px;
						height: 100%;
						background: $black;
					}
				}

				.green {
					display: inline-block;
					color: $btn-color;
					padding: 13px 25px;
					line-height: 21px;

					&:hover {
						background-color: lighten( $btn-background, 10% )
					}
				}
			}

			li {
				@include media('>=tablet') {
					display: inline-block;
					vertical-align: middle;
					margin-left: -4px;
				}
			}
		}
	}

	.opener {
		float: right;
		display: inline-block;
		vertical-align: top;
		position: relative;
		z-index: 99;
		width: 38px;
		height: 38px;
		right: 25px;
		border-radius: 4px;
		border: 1px solid $green;
		position: relative;
		text-indent: -9999px;
		overflow: hidden;

		@include media ('>=desktop') {
			display: none;
		}

		&:before,
		&:after,
		span {
			@extend %transition;

			content: "";
			position: absolute;
			top: 17px;
			left: 15%;
			right: 15%;
			height: 3px;
			background: $green;
		}

		&:before {
			top: 10px;
		}

		&:after {
			top: 24px;
		}	
	}
}

.drop {
	@include animate(transform);

	position: relative;
	top: 0;
	left: 0;
	right: 0;
	padding: 20px 10px;
	transform: translateY(-100%);
	background: $white;

	@include media('>=desktop') {
		transform: translateY(0);
		padding: 0 9px 0 0;
	}

	.nav>li a {
		@include animate (background-color);

		display: inline-block;
		text-decoration: none;
		color: $black;
		text-transform: uppercase;
		padding: 10px;

		@include media('>=desktop') {
			padding: 0 5px;
			font-size: 16px;
		}

		&:hover,
		&:active {
			background-color: $yellow;
		}
	}
}



.nav-active .opener span {
	opacity: 0;
}

.nav-active .opener:before,
.nav-active .opener:after {
	top: 17px !important;
	transform: translateY(-50%) rotate(45deg);
}

.nav-active .opener:after {
	transform: translateY(-50%) rotate(-45deg);
}

.nav-active #nav {
	max-height: 2000px !important;
}

.nav-active #nav .drop {
	transform: translateY(0);
}