.filter-page {
	@extend %clearfix;
	background-color: $bg-section;
	padding-top: 77px;
	
	#sidebar {
		width: 100%;
		margin-bottom: 50px;
		
		@include media('>=tablet') {
			width: 25%;
			float: left;
			margin-right: 45px;
		}

		.form-group {
			margin-bottom: 30px;
			font-size: $font-size-large;

			label {
				display: inline-block;
				margin-bottom: 10px;
				text-transform: uppercase;
				font-weight: 600;
				font-size: $font-size-large;
			}

			.checkbox {
				label,
				input[type="checkbox"] + label,
				input[type="checkbox"] + label::before {
					display: inline-block;
					vertical-align: middle;
					cursor: pointer;
				}
				
				input[type="checkbox"] + label::before {
					content: "";
					display: inline-block;
					height: 19px;
					width: 19px;
					border-radius: 50%;
					margin: 0 12px 0 0;
					border: 3px solid $black;
					background-repeat: no-repeat;
				}

				input[type="checkbox"]:checked + label::before {
					background: $black;
				}

				input[type="checkbox"]:not(checked) + label::before {
					background: transparent;
				}
			}

			&.filtering-search {

				.input-group {
					position: relative;

					.btn-search {
						position: absolute;
						height: 38px;
						width: 38px;
						top: 1px;
						right: 1px;
						border: 1px solid transparent;
						outline: none;
						background: $base-background-color;
						line-height: 38px;
					}

					input {
						width: 100%;
						border: 1px solid transparent;
						outline: none;
						line-height: 38px;
						padding: 0 43px 0 12px;
						color: $base-text-color;

						&:focus {
							border-color: darken( $bg-section, 10% )
						}
					}
				}
			}			
		}
	}


	#content {
		width: 100%;

		@include media('>=tablet') {
			float: right;
			width: calc(75% - 45px);
		}

		h2 {
			margin-bottom: 30px;
		}

		.showing {
			display: inline-block;
			margin-bottom: 40px;
			font-size: 24px;
		}

		.post {
			@extend %clearfix;
			
			padding: 30px 27px;
			background: $base-background-color;
			margin-bottom: 30px;
			line-height: 20px;

			h3 {
				line-height: 28px;
				margin-bottom: 0;
			}

			.date {
				display: inline-block;
				color: $light-gray;
				line-height: 24px;
				font-weight: 600;
				// margin-bottom: 10px;
			}

			p {
				margin-top: 12px;
			}

			.content {
				// overflow: hidden;
				width: 66%;
				float: left;

			}

			.photo {
				@include media('>=tablet') {
					float: right;
					width: 33.3%;
					height: 100%;
					padding-left: 20px;
				}

				.img-holder {
					background-repeat: no-repeat;					
					background-size: 190px 130px;
					background-position: 0 0;

					@include media('>=tablet') {
						background-position: 100% 0;
						padding-top: 56.25%;
					}
				}
			}
		}
	}
}